{% extends '../base/main_user_base.html' %}

{% block head %}
<link href="/static/common/sweetalert/sweetalert.css" rel="stylesheet">
<script src="/static/common/sweetalert/sweetalert.min.js"></script>
<script src="/"></script>
{% end %}


{% block page_heading %}
        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                权限管理 <small>Subtext for header</small>
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Extra Pages</a>
                </li>
                <li class="active">权限管理 </li>
            </ul>
        </div>
        <!-- page heading end-->
{% end %}


{% block body_wrapper %}
    <div class="wrapper">
                    <header class="panel-heading">
                        <p style="width: 100px;">
                                <span class="input-group-addon btn btn-info" id="tag-btn">发送消息</span>
                        </p>



                    <form class= "form" action="">
                        {% module xsrf_form_html() %}
                        <p>发布任务内容<input type="text" name="content" id="task_content">

                     <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">分类</span>
                            <select name="" id="category-select" class="form-control">
                                {% for category in categorys %}
								    <option value="{{category.id}}" selected="selected">{{category.name}}</option>
							    {% end %}
                            </select>
                        </div>
                    </div>
                                <br/>
                                <!--<p>发布任务类型<input type="text" name="category">-->

                                <input type="submit" id="submit-article-btn"></p>
                        </form>






                    </header>

    {% end %}


{% block end %}
        <script src="/static/common/sweetalert/sweetalert.min.js"></script>
        <script src="/static/js/tasks/add_tasks.js"></script>

{% end %}