{% extends '../base/main_user_base.html' %}

{% block head %}
<link href="/static/common/sweetalert/sweetalert.css" rel="stylesheet">
<script src="/static/common/sweetalert/sweetalert.min.js"></script>
{% end %}


{% block page_heading %}
        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                权限管理 <small>Subtext for header</small>
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Extra Pages</a>
                </li>
                <li class="active">权限管理 </li>
            </ul>
        </div>
        <!-- page heading end-->
{% end %}


{% block body_wrapper %}
    <div class="wrapper">
                    <header class="panel-heading">
                        <p style="width: 100px;">
                                <span class="input-group-addon btn btn-info" id="tag-btn">发送消息</span>
                        </p>



                        <form class= "login" method="post" action="/tasks/publisher">
                                {% module xsrf_form_html() %}
                                <p>发布任务内容<input type="text" name="content">
                                    <input type="hidden" name="send_type" value="system">
                                <br/>
                                <p>发布任务类型<input type="text" name="category">

                                <input type="submit"></p>
                        </form>
                        <!--<form class= "login" method="post" action="/tasks/category">-->
                                <!--{% module xsrf_form_html() %}-->

                                <!--<p>添加任务类型<input type="text" name="category">-->

                                <!--<input type="submit"></p>-->
                        <!--</form>-->



                    </header>

    {% end %}